@import "tailwindcss";
@import "tailwindcss/utilities";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

:root {
  --primary: #10b981;
  --primary-hover: #059669;
  --primary-focus: #d1fae5;
  --primary-text: #064e3b;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
